body { 
	background-color: #ffffff;
	max-width: 900px;
}

h1 {
	font-family: Helvetica;
	text-align: center;
	font-size: 24px;
}

#paragraph {
	font-family: Helvetica;
	font-size: 14px;
	text-align: center;
}
#photo {
	position: center;
	max-width: 300px;
}