/* ---------WHEN SCREEN IS LARGER THAN 480 PX-------------*/

@media screen and (min-width: 480px) {
  
  /* TWO COLUMN LAYOUT */
  
  /* CONTACT */
  
      #wrapper {
        padding: 10%;
      }

      .primary {
        width: 50%;
        float: left;
      }
      .secondary {
        width: 40%;
        float: right;
      }
      
      /* PORTFOLIO */
      
      #gallery li {
        width: 28.3333%;
          ;
      }
      
      #gallery li:nth-child(4n) {
        clear: left;
      }
      
      /* ABOUT */


    
    .full-image-bg {

    }

    /*.mall {
    background: url(../img/bg-mall-large.jpg) no-repeat center top fixed;
  }

    .ny {
      background: url(../img/bg-ny-large.jpg) no-repeat center center fixed;
    }

    .river {
      background: url(../img/bg-river-large.jpg) no-repeat center center fixed;
    }

    #aboutme {
      text-align: left;
    }*/

  }


/* ---------WHEN SCREEN IS LARGER THAN 660 PX-------------*/


@media screen and (min-width: 660px) {
  

      nav {
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 0;
        text-align: right;
        width: 45%;
      }
      
      #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
      }

      h1 {
        font-size: 2.5em;
      }
      
      h2 {
        font-size: 1.25em;
        margin-bottom: 20px;
      }

    }